/.gradle/
/.kotlin/
/build/
/app/build/
/local.properties
*.iml
.idea/
.DS_Store
/keystore/
*.jks
*.keystore
!app/debug-keystore/
!app/debug-keystore/debug.keystore
google-services.json
.env
/release-artifacts/
